<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--数据库连接字符串-->
    <add key="Con" value="Provider=Microsoft.Jet.OLEDB.4.0;Data source=|DataDirectory|Student.mdb;Jet OLEDB:Database Password=12345678"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages validateRequest="false"></pages>
    <!--因为检测request加上。-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480" executionTimeout="3600"/>
    <!--因为检测request加上。-->

    <!--下面这条语句有安全隐患，不用时记着删除。   <customErrors mode="Off"/>-->
    <customErrors mode="RemoteOnly" defaultRedirect="/404/index.html"/>

  </system.web>

  
</configuration>
